* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
}

body {
  background-color: #070f2b;
  color: white;
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
}

.main {
  flex: 1;
}

/* NAVBAR  (STARTUP CODE and EXTENDED)*/
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  padding: 0 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #070f2b;
  z-index: 1000;
  transition: 0.3s ease;
}

/* LEFT */
.nav-left {
  display: flex;
  align-items: center;
  gap: 15px;
}

.logo {
  width: 40px;
}

.search-box {
  width: 200px;
  position: relative;  
  margin-left: 20px; 
}

.search-box i {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  color: #7b7f8e;
  font-size: 14px;
}


.search-box input {
  width: 100%;
  padding: 10px 18px 10px 40px;
  border-radius: 50px;
  border: none;
  background-color: #1b1a55;
  color: white;
  outline: none;
  font-size: 14px;
}

/* CENTER */
.nav-links {
  list-style: none;
  display: flex;
  gap: 30px;
}

.nav-links a {
  text-decoration: none;
  color: #7b7f8e;
  font-weight: bold;
  transition: 0.3s;
}

.nav-links a:hover,
.nav-links a.active {
    color: #4fc3f7;
}

/* RIGHT */
.icons {
  display: flex;
  align-items: center;
  gap: 30px;
}

.icons img {
  width: 28px;
  cursor: pointer;
}

/* Navbar scroll */
.navbar.scrolled {
  background: rgba(7, 15, 43, 0.9);
  backdrop-filter: blur(8px);
}

/*HAMBURGER MENU*/
.hamburger {
  display: none;
  flex-direction: column;
  gap: 5px;
  cursor: pointer;
}

.hamburger span {
  width: 25px;
  height: 3px;
  background: white;
  border-radius: 5px;
  transition: 0.4s;
}

.hamburger.active span:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
}

.hamburger.active span:nth-child(2) {
  opacity: 0;
}

.hamburger.active span:nth-child(3) {
  transform: rotate(-45deg) translate(6px, -6px);
}

/* MOBILE MENU*/
.mobile-menu {
  position: fixed;
  top: 60px;
  right: -100%;
  width: 220px;
  height: 100vh;
  background: #0b1440;
  display: flex;
  flex-direction: column;
  padding: 40px 25px;
  gap: 25px;
  transition: 0.4s ease;
  z-index: 999;
}

.mobile-menu.active {
  right: 0;
}

.mobile-menu a {
  color: white;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
}

/*  HERO SECTION */
.hero {
  height: 420px;
  margin-top: 60px;
  background:
    linear-gradient(to right, #070f2b, rgba(7, 15, 43, 0.4)),
    url("image/hero.jpg") center/cover no-repeat;
  display: flex;
  align-items: center;
  padding-left: 80px;
}

.hero h1 {
  font-size: 48px;
  margin-bottom: 10px;
}

.hero p {
  color: #c7c7c7;
  max-width: 480px;
}

/* MAIN CONTENT */
.main {
  padding: 60px 80px;
}

/* NEWS */
.news h2,
.reviews h2 {
  margin-bottom: 25px;
}

.news-item {
  display: flex;
  gap: 25px;
  margin-bottom: 35px;
  padding-bottom: 25px;
  border-bottom: 1px solid #1b1a55;
  opacity: 0;
  transform: translateY(40px);
  transition: 0.6s ease;
}

.news-item.show {
  opacity: 1;
  transform: translateY(0);
}

.news-item img {
  width: 200px;
  border-radius: 12px;
}

.news-item small {
  color: #7b7f8e;
}

.news-item h3 {
  margin: 8px 0;
}

.news-item p {
  color: #c7c7c7;
}

.news-item a {
  color: #4da3ff;
  text-decoration: none;
}

.news-item:hover {
  transform: translateX(8px);
}

/* REVIEWS */
.review-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
}

.review-card {
  background: #0b1440;
  border-radius: 15px;
  padding: 15px;
  opacity: 0;
  transform: translateY(40px);
  transition: 0.6s ease;
}

.review-card.show {
  opacity: 1;
  transform: translateY(0);
}

.review-card img {
  width: 100%;
  border-radius: 12px;
  margin-bottom: 10px;
}

.review-card p {
  color: #c7c7c7;
  font-size: 14px;
}

.review-card:hover {
  transform: translateY(-8px);
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.4);
}

/* STARTUP*/
.footer {
  background: #02051a;
  color: #aaa;
  padding: 60px 40px 20px;
}

.footer-top {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 60px;
}

.footer h4 {
  color: white;
  margin-bottom: 10px;
}

.footer a {
  display: block;
  color: #aaa;
  margin-bottom: 6px;
}

.footer a:hover {
  color: lightblue;
}

.line {
  width: 2px;
  background: white;
}

hr {
  border: none;
  border-top: 1px solid #1b1a55;
  margin: 40px 0;
}

.copy {
  text-align: center;
  font-size: 13px;
}
.social-icons {
  display: flex;
  gap: 25px;
  align-items: center;
}
.social-icons a {
  color: white;
  font-size: 40px;
  transition: 0.3s ease;
}

.social-icons a:hover {
  color: #4fc3f7;
  transform: translateY(-2px);
}
/*  RESPONSIVE */

/* TABLET */
@media (max-width: 1024px) {
  .main {
    padding: 50px 40px;
  }

  .review-grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .footer-top {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* MOBILE */
@media (max-width: 768px) {
  .navbar {
    padding: 0 20px;
  }

  .nav-links {
    display: none;
  }

  .hamburger {
    display: flex;
  }

  .search-box {
    width: 160px;
  }

  .hero {
    height: 300px;
    padding: 40px;
    text-align: center;
  }

  .hero h1 {
    font-size: 30px;
  }

  .main {
    padding: 40px 20px;
  }

  .news-item {
    flex-direction: column;
  }

  .news-item img {
    width: 100%;
  }

  .review-grid {
    grid-template-columns: 1fr;
  }

  .footer-top {
    grid-template-columns: 1fr;
    gap: 30px;
  }

  .line {
    display: none;
  }
}
