*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

body{
  background:#070f2b;
  color:white;
  font-family:sans-serif;
  /* display: flex;
  flex-direction: column; */
  
}

/* صفحة كلها مخفية بالبداية */


/* بعد التحميل نصبح ظاهر */




/* html, body{
  height: 100%;
  margin: 0;
} */

/* 
.main{
  flex: 1;
} */

/* ===== NAVBAR ===== */
.navbar{
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:60px;
  padding:0 50px;
  display:flex;
  align-items:center;
  justify-content:space-between;
  /* background:#070f2b; */
  z-index:1000;
  box-shadow: 0 20px 80px  125px rgba(7, 15, 43, 1.836);
}

.shadow{
  width: 100%;
  height: 150px;
  position:absolute;
  box-shadow: 100px 49px 190px  210px rgba(7, 15, 43, 1.836);
}


/* LEFT */
.nav-left{
  display:flex;
  align-items:center;
  gap:15px;
}

.logo{
  width:40px;
}

.search-box{
  width:200px;
  position: relative;  
  margin-left: 20px;
}

.search-box i {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  color: #7b7f8e;
  font-size: 14px;
}


.search-box input{
  width:100%;
  padding:10px 18px 10px 40px;
  border-radius:50px;
  background:#1b1a55;
  border:none;
  outline:none;
  color:white;
}

/* CENTER */
.nav-links{
  list-style:none;
  display:flex;
  gap:30px;
}

.nav-links a{
  text-decoration:none;
  color:#7b7f8e;
  font-weight:bold;
}


.nav-links a:hover{
  color:white;
}


.nav-links a.active {
    color: #4fc3f7;
}

/* RIGHT */
.nav-right{
  display:flex;
  gap:15px;
}

.btn{
  padding:10px 28px;
  border-radius:50px;
  border:none;
  background:#1b1a55;
  color:white;
  cursor:pointer;
  transition:.3s;
}

.btn:hover{
  transform:scale(1.05);
}

.btn-outline{
  background:transparent;
  border:1px solid white;
}


/* ================Main============== */


main{
  margin-top: 100px;
}

/* =========================
  Hero Slider Container
========================= */
.hero-box {
  position: relative;
  width: 100%;
  height: 590px;
  /* border-radius: 40px 40px 0 0; */
  overflow: hidden;
  background: #000;
}

/* =========================
  Hero Image
========================= */
.hero-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: opacity 0.5s ease; /* fade effect */
  position: relative;
}

.hero-img{
  position: absolute;
  inset: 0;
  /* box-shadow:inset 10px 10px 1000px  100px rgba(0, 0, 5, 0.836); */
  /* box-shadow:inset 0px 20px 50px  70px rgba(7, 15, 43, 1.836), */
  /* 0px 0px 0px  0px rgba(7, 15, 43, 1.836); */
}


/* =========================
  Hero Text (Title + Description)
========================= */
.hero-text {
  position: absolute;
  bottom: 150px;
  left: 80px;
  max-width: 450px;
  color: white;
  z-index: 2;
  transition: opacity 0.5s ease;
}

.hero-text h1 {
  font-size: 36px;
  line-height: 1.2;
  margin-bottom: 15px;
}

.hero-text p {
  font-size: 18px;
  line-height: 1.4;
  margin-bottom: 20px;
  color: #c7c8ce;
}

/* =========================
  Buttons inside Hero
========================= */
.actions button {
  margin-top: 60px;
  padding: 10px 25px;
  margin-right: 10px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
  transition: all 0.2s ease;
}

.actions .buy {
  background: #1b1a55;
  color: #fff;
  border-radius: 50px;
}

.actions .buy:hover {
  transform: scale(1.05);
}

.actions .wish {
  background: rgba(255, 255, 255, 0.2);
  color: #fff;
}

.actions .wish:hover {
  background: rgba(255, 255, 255, 0.4);
}

/* =========================
  Arrows
========================= */
.arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.45);
  color: white;
  font-size: 28px;
  border: none;
  cursor: pointer;
  z-index: 3;
  transition: all 0.2s ease;
}

.arrow.left { left: 30px; }
.arrow.right { right: 30px; }

.arrow:active {
  transform: translateY(-50%) scale(0.9);
  background: rgba(255,255,255,0.3);
}


/* =========================
  Responsive
========================= */
@media screen and (max-width: 768px) {
  .hero-box { height: 300px; }
  .hero-text h1 { font-size: 28px; }
  .hero-text p { font-size: 16px; }
  .arrow { width: 35px; height: 35px; font-size: 22px; }
  .actions button { padding: 8px 20px; }
}





/* ================= Game Sections ================= */

.games-section{
  margin:80px 60px;
}

.section-header{
  display:flex;
  justify-content:space-between;
  align-items:center;
  margin-bottom:20px;
}

.section-header h2{
  font-size:24px;
  color:white;
}

.section-arrows{
  display:flex;
  gap:10px;
}

.s-arrow{
  width:40px;
  height:40px;
  border-radius:50%;
  border:none;
  background:#1b1a55;
  color:white;
  font-size:22px;
  cursor:pointer;
  transition:all 0.2s ease;
}

.s-arrow:hover{
  transform:scale(1.1);
}

/* ================= Slider ================= */

.games-slider{
  display:flex;
  gap:20px;
  overflow-x:auto;
  scroll-behavior:smooth;
  padding-bottom:10px;
}

/* لإخفاء Scroll bar في Chrome / Firefox */
.games-slider::-webkit-scrollbar{
  display:none;
}
.games-slider{
  -ms-overflow-style: none;  
  scrollbar-width: none;  
}

/* ================= Game Card ================= */

.game-card{
  min-width:200px;
  background:#1e243a;
  border-radius:16px;
  overflow:hidden;
  position:relative;
  transition: transform 0.3s;
}

.game-card:hover{
  transform:translateY(-6px);
}

.game-card img{
  width:100%;
  height:260px;
  object-fit:cover;
}

.game-info{
  padding:12px;
}

.game-info h4{
  font-size:16px;
  margin-bottom:8px;
  color:white;
}

.price{
  display:flex;
  align-items:center;
  gap:10px;
}

.price .new{
  font-weight:bold;
  color:white;
}

.discount{
  background:#9290c3;
  padding:2px 6px;
  font-size:12px;
  border-radius:6px;
  color:white;
}

/* ================= Add to Cart ================= */

.add-cart{
  position:absolute;
  right:10px;
  bottom:15px;
  width:36px;
  height:36px;
  border-radius:50%;
  border:none;
  background:#fff;
  color:white;
  color: #1b1a55;
  font-size:20px;
  cursor:pointer;
  transition:all 0.2s ease;
}

.add-cart:hover{
  background:#272f6b;
  transform:scale(1.1);
}

/* ================= Responsive ================= */

@media screen and (max-width: 1024px){
  .games-slider{
    gap:15px;
  }
  .game-card{
    min-width:180px;
  }
}

@media screen and (max-width: 768px){
  .games-section{
    margin:60px 20px;
  }
  .section-header h2{
    font-size:20px;
  }
  .s-arrow{
    width:35px;
    height:35px;
    font-size:20px;
  }
  .game-card{
    min-width:150px;
  }
  .game-card img{
    height:200px;
  }
}


/* ============= */

/* ================== Modal ================== */
.modal {
  display: none; /* hidden by default */
  position: fixed;
  z-index: 2000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow:auto;
  background-color: rgba(0,0,0,0.85);
}

.modal-content {
  background-color: #0e163f;
  margin: 50px auto;
  padding: 20px;
  border-radius: 16px;
  width: 90%;
  max-width: 900px;
  color: white;
  position: relative;
}

.close {
  color: white;
  position: absolute;
  top: 15px;
  right: 25px;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.modal-body{
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.modal-body img{
  width: 100%;
  max-height: 400px;
  object-fit: cover;
  border-radius: 12px;
}

.modal-info h2{
  font-size: 28px;
  margin-bottom: 12px;
}

.modal-info p{
  font-size: 16px;
  color: #ccc;
  margin-bottom: 12px;
}

.modal-info iframe{
  width: 100%;
  height: 315px;
  border-radius: 12px;
}

/* Responsive */
@media screen and (max-width:768px){
  .modal-body{
    flex-direction: column;
  }
  .modal-info h2{
    font-size: 22px;
  }
  .modal-info p{
    font-size: 14px;
  }
  .modal-info iframe{
    height:200px;
  }
}






/* =============End of Main============== */




.footer {
  background: #02051a;
  color: #aaa;
  padding: 60px 40px 20px;
}

.footer-top {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 60px;
}

.footer h4 {
  color: white;
  margin-bottom: 10px;
}

.footer a {
  display: block;
  color: #aaa;
  margin-bottom: 6px;
}

.footer a:hover {
  color: lightblue;
}

.line {
  width: 2px;
  background: white;
}

hr {
  border: none;
  border-top: 1px solid #1b1a55;
  margin: 40px 0;
}

.copy {
  text-align: center;
  font-size: 13px;
}
.social-icons {
  display: flex;
  gap: 25px;
  align-items: center;
}
.social-icons a {
  color: white;
  font-size: 40px;
  transition: 0.3s ease;
}

.social-icons a:hover {
  color: #4fc3f7;
  transform: translateY(-2px);
}












/* Modal background */
.modal-auth{
  position:fixed;
  inset:0;
  background:rgba(0,0,0,0.7);
  display:none;   /* مهم جداً */
  align-items:center;
  justify-content:center;
  z-index:2000;
}

/* Modal box */
.modal-box2{
  background:#0e163f;
  padding:30px;
  width:320px;
  border-radius:15px;
  text-align:center;
  color:white;
}

/* Close */
.modal-box2 span{
  position:absolute;
  right:25px;
  top:15px;
  font-size:24px;
  cursor:pointer;
}

.modal-box2 input{
  width:100%;
  padding:12px;
  margin:10px 0;
  border:none;
  border-radius:50px;
  background:#1b1a55;
  color:white;
}


